.group-container {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.settings-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
