.container-templates{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.templates-header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }