.camera-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-button {
  width: 80px;
  height: 80px;
  background-color: wheat;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.camera-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.camera-button:active {
  transform: scale(0.95);
}

.photo-scan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
