form {
  width: 390px;
  height: 400px;
  padding-left: 2px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 20px;
  flex-direction: column; /* border: 2px solid red; */
  justify-content: space-evenly;
  #subjectInput {
    width: 210px;
  }
  input {
    margin-left: 5px;
  }
  button {
    border-radius: 10px;
    width: fit-content;
    background-color: var(--focus-highlight);
  }
  button:hover {
    background-color: var(--shadow-color);
    color: var(--background-body);
  }
}

p {
  color: var(--color-red);
  font-size:small;
}